*{
	margin:0;
	padding:0;
}


#nav-bar{

	position: sticky;;
	top:0;
	z-index: 10;
	background-color: black;
}
.navbar-brand img{

	height: 60px;
	
	padding-left: 40px;
}

.navbar-nav li{

	padding: 0 15px;

}

.navbar-nav li a {

	float: right;
	text-align: left;

}

#nav-bar ul li a:hover{

	color: blue;
}

.navbar{

	background: #ffff;
}

 .navbar-toggler{
 	border: none!important;
 }
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}



<!---------nowshowing------>

#nowshowing h1{

		text-align:right;
		

}





